* {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*------------------------------------------*/

#principal {
    width: 100%;
    height: 100%;
}

/*------------------------------------------*/

/*Cabecera*/

#contenedorCabecera {
    background-color: #f6f6f6;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.separadorSeccionTexto01 {
    padding-top: 20px;
}

.SeccionTexto01 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto01_1 {
    color: #868686;
    font-family: 'CormorantB';
    font-size: 28px;

}

.texto01_2 {
    color: #868686;
    font-family: 'Roboto';
    font-size: 11px;
}


/*------------------------------------------*/

/*Imagen y texto principal - Texto 2*/

#contenedorImagenPrincipal {
    padding-top: 300px;
    height: 650px;
    background-color: blue;
    width: 100%;

}

.separadorSeccionTexto02 {
    padding-top: 60px;
}

.texto02 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GreatVibes';
    color: #F6F6F6;
    font-size: 80px;
}


/*------------------------------------------*/
/*Texto 3*/

#contenedorSeccionTexto03 {
    width: 100%;
    height: 285px;
    background-color: #f6f6f6;
    text-align: center;
}

.separadorSeccionTexto03 {
    padding-top: 35px;
}

#texto3Principal {
    color: #838282;
    font-family: 'Cormorant';
    font-size: 50px;
}

#separadorPadres {
    display: flex;
    justify-content: space-between;
}

#contenedorPadresJenny {
    color: #B69D75;
    font-family: 'Cormorant';
    font-size: 28px;
    /* text-align: left;*/
    margin-left: 35%;
}

#contenedorPadreGustavo {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 28px;
    /* text-align: right;*/
    margin-right: 37%;
}

/*------------------------------------------*/
/*Texto 4*/

#contenedorSeccionTexto04 {
    background-color: #B69D75;
    width: 100%;
    height: 130px;
}

.separadorSeccionTexto04 {
    padding-top: 45px;
}

.texto04 {
    color: #F6F6F6;
    font-family: 'Cormorant';
    font-size: 28px;
    text-align: center;
}

/*------------------------------------------*/
/*Texto 5 - Ubicaciones*/

#contenedorSeccionTexto05 {
    background-color: #f6f6f6;
    height: 750px;
    width: 100%;
}

.separadorSeccionTexto05 {
    padding-top: 50px;
}

.textoUbicaciones {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
}

#contenedorUbicaciones {
    text-align: center;
}

#contenedorIzquierdo {
    float: left;
    position: relative;
    margin-left: 25%;
}

#contenedorDerecho {
    float: right;
    position: relative;
    margin-right: 25%;
}

.texto05_1 {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 28px;
    padding-top: 10px;
}

.texto05_2 {
    color: #616161;
    font-family: 'Roboto';
    font-size: 20px;
    padding-top: 10px;
}

.texto01_3 {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 19px;
    padding-top: 10px;
}

.texto01_4 {
    color: #FBFBFB;
    font-family: 'Roboto';
    font-size: 22px;
    text-decoration: none;
}

.dobleCirculo {
    max-width: 305px;
    max-height: 305px;
    height: 305px;
    width: 305px;
    border-radius: 100%;
    border: #616161 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.imagenUbicaciones {
    padding-top: 3px;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.botonUbicaciones {
    background-color: #AD9D80;
    border: none;
    border-radius: 5px;
    height: 70px;
    width: 200px;
}

/*------------------------------------------*/
/*Texto 6*/
#contenedorSeccionTexto06 {
    background-color: #B69D75;
    width: 100%;
    height: 130px;
}

.separadorSeccionTexto06 {
    padding-top: 45px;
}

.texto06 {
    color: #F6F6F6;
    font-family: 'Cormorant';
    font-size: 28px;
    text-align: center;
}

/*------------------------------------------*/
/*Texto 7*/

#contenedorSeccionTexto07 {
    background-color: blue;
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
}

#subContenedorSeccionTexto07 {
    /*background-color: rgba(255,255,255,0.95);*/
    background-color: white;
    width: 700px;
    height: 370px;
    margin: 0px auto;
    border-radius: 5px;
}


.separadorSeccionTexto07 {
    padding-top: 60px;
}

.texto7_1 {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}

#contenedorLinea {
    text-align: center;
    width: 100%;
    height: 10px;
    padding-bottom: 10px;
}

.linea {
    border: #B69D75 1px;
    height: 0.5px;
    width: 500px;
    background-color: black;
    border-radius: 100%;
    margin: 0px auto;
}


.texto7_2 {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.texto7_3 {
    color: #616161;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
}

/*------------------------------------------*/
/*Texto 8*/
#contenedorSeccionTexto08 {
    background-color: #f6f6f6;
    height: 570px;
    width: 100%;
    text-align: center;
}

.separadorSeccionTexto08 {
    padding-top: 10px;
}

.texto08_1 {
    color: #B69D75;
    font-family: 'Cormorant';
    font-size: 28px;
    padding-bottom: 20px;
}

.texto8_2 {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 24px;
    padding-bottom: 20px;
}

.texto8_3 {
    color: #868686;
    font-family: 'Roboto';
    font-size: 12px;
}

#contenedorIzquierdoMujer {
    float: left;
    position: relative;
    margin-left: 27%;
}


#contenedorDerechoHombre {
    float: right;
    position: relative;
    margin-right: 24%;
}

#seccionInferiorTexto08 {
    padding-top: 370px;
}

/*------------------------------------------*/
/*Texto 9*/

#contenedorSeccionTexto09 {
    background-color: #B69D75;
    width: 100%;
    height: 130px;
}

.separadorSeccionTexto09 {
    padding-top: 45px;
}

.texto09 {
    color: #F6F6F6;
    font-family: 'Cormorant';
    font-size: 28px;
    text-align: center;
}

/*------------------------------------------*/
/*Texto 10*/

#contenedorSeccionTexto10 {
    background-color: #f6f6f6;
    height: 570px;
    width: 100%;
    text-align: center;
}

.separadorSeccionTexto10 {
    padding-top: 10px;
}

.texto10_1 {
    color: #B69D75;
    font-family: 'Cormorant';
    font-size: 50px;
    text-align: center;
}

.texto10_2 {
    color: #FBFBFB;
    font-family: 'Roboto';
    font-size: 22px;
    text-decoration: none;
}

#contenedorImagenesContacto {
    text-align: center;
}

#contenedorIzquierdoNovia {
    float: left;
    position: relative;
    margin-left: 25%;
    margin-top: 2%;
}


#contenedorDerechoNovio {
    float: right;
    position: relative;
    margin-right: 25%;
}

.contenedorBotonTexto10 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botonContacto {
    background-color: #AD9D80;
    border: none;
    border-radius: 5px;
    height: 70px;
    width: 200px;
}

.icoWhatsapp {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}

/*------------------------------------------*/
/*Texto 11*/

#contenedorSeccionTexto11 {
    padding-top: 300px;
    height: 700px;
    background-color: blue;
    width: 100%;

}

.separadorSeccionTexto11 {
    padding-top: 60px;
}

#contenedorTexto11{
    position: relative;
    height:700px;
}

.texto11 {
    font-family: 'Cormorant';
    color: #F6F6F6;
    font-size: 28px;
    text-align: center;
  /*  position: absolute;
    bottom: 100px;
    right: 35%;*/
}

/*------------------------------------------*/
/*Pie de pagina*/

#contenedorSeccionPiePagina {
    background-color: white;
    height: 100px;
    width: 100%;
}

.separadorSeccionPiePagina {
    padding-top: 30px;
}

.textoPiePagina {
    color: #616161;
    font-family: 'Cormorant';
    font-size: 28px;
    text-align: center;
}


/*------------------------------------------*/
/*Fuentes personalizadas*/

@font-face {
    font-family: 'Cormorant';
    src: url('../font/Cormorant-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'CormorantB';
    src: url('../font/Cormorant-Bold.ttf') format('truetype');
    font-style: Bold;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GreatVibes';
    src: url('../font/GreatVibes-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
